<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome, <%= teacher.name %> - CC of <%= teacher.branch %> <%= teacher.year %> year, Section <%= teacher.section %></h1>

  <table border="1">
    <thead>
      <tr>
        <th>Serial No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Branch</th>
        <th>Section</th>
        <th>Year</th>
        <th>Paid</th>
      </tr>
    </thead>
    <tbody>
      <% if (childrenData && childrenData.length > 0) { %>
        <% childrenData.forEach((student, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.branch %></td>
            <td><%= student.year %></td>
            <td><%= student.section %></td>
            <!-- <td><input type="checkbox" name="paid" data-email="<%= student.Email %>" ></td> -->
             <td>
              <!-- <input type="checkbox" class="paid-checkbox" data-email="<%= student.email %>" <%= student.isPay ?  'checked' : '' %>> -->
              <form action="/updatePaidStatus" method="POST">
                <input type="checkbox" name="paid" class="paid-checkbox" data-email="<%= student.email %>" value="1" <%= student.isPay ? 'checked' : '' %> onchange="this.form.submit()">
                <input type="hidden" name="email" value="<%= student.email %>">
              </form>
              
          </td>
          </tr>
        <% }); %>
      <% } else { %>
        <tr>
          <td colspan="7">No student data available.</td>
        </tr>
      <% } %>
    </tbody>
  </table>

 

</body>
</html>
